In [1]:
import seaborn as sns
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline   # used for showing visualization

UsageError: unrecognized arguments: # used for showing visualization

In [4]:
df=pd.read_csv("C:/Users/vaibh/Downloads/Algerian_forest_fires_dataset_UPDATE (3).csv",header=1)

In [5]:
df.head()

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes
0,01,06,2012,29,57,18,0,65.7,3.4,7.6,1.3,3.4,0.5,not fire
1,02,06,2012,29,61,13,1.3,64.4,4.1,7.6,1,3.9,0.4,not fire
2,03,06,2012,26,82,22,13.1,47.1,2.5,7.1,0.3,2.7,0.1,not fire
3,04,06,2012,25,89,13,2.5,28.6,1.3,6.9,0,1.7,0,not fire
4,05,06,2012,27,77,16,0,64.8,3,14.2,1.2,3.9,0.5,not fire

In [ ]:
df.info()

In [6]:
df.shape

(246, 14)

In [ ]:
df['FWI']

In [ ]:
df.columns

In [ ]:
df.columns = df.columns.str.strip()

In [ ]:
df['RH']

In [ ]:
df['Classes']

In [ ]:
df.head(5)

In [ ]:
df.tail(5)

In [ ]:
df.info()

In [ ]:
df.shape

In [5]:
df.describe()

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes
count,246,245,245,245,245,245,245,245,245,245,245,245,245,244
unique,33,5,2,20,63,19,40,174,167,199,107,175,128,9
top,01,07,2012,35,64,14,0,88.9,7.9,8,1.1,3,0.4,fire
freq,8,62,244,29,10,43,133,8,5,5,8,5,12,131

In [ ]:
df.dtypes

In [6]:
df.isnull().sum()

day            0
month          1
year           1
Temperature    1
 RH            1
 Ws            1
Rain           1
FFMC           1
DMC            1
DC             1
ISI            1
BUI            1
FWI            1
Classes        2
dtype: int64

In [ ]:
df[df.isnull().any(axis=1)]

In [7]:
df.loc[:122,'Region']=1
df.loc[122:,'Region']=2
df[['Region']]=df[['Region']].astype(int)

In [ ]:
df.head(5)

In [ ]:
df.tail(5)

In [8]:
df=df.dropna().reset_index(drop=True)
df.shape

(244, 15)

In [9]:
df1=df.drop(122).reset_index(drop=True)
df1.loc[122]

day                     01
month                   06
year                  2012
Temperature             32
 RH                     71
 Ws                     12
Rain                   0.7
FFMC                  57.1
DMC                    2.5
DC                     8.2
ISI                    0.6
BUI                    2.8
FWI                    0.2
Classes        not fire
Region                   2
Name: 122, dtype: object

In [10]:
df.drop([122,123],inplace=True)

In [11]:
df.head(124)

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes,Region
0,01,06,2012,29,57,18,0,65.7,3.4,7.6,1.3,3.4,0.5,not fire,1
1,02,06,2012,29,61,13,1.3,64.4,4.1,7.6,1,3.9,0.4,not fire,1
2,03,06,2012,26,82,22,13.1,47.1,2.5,7.1,0.3,2.7,0.1,not fire,1
3,04,06,2012,25,89,13,2.5,28.6,1.3,6.9,0,1.7,0,not fire,1
4,05,06,2012,27,77,16,0,64.8,3,14.2,1.2,3.9,0.5,not fire,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119,28,09,2012,32,47,14,0.7,77.5,7.1,8.8,1.8,6.8,0.9,not fire,1
120,29,09,2012,26,80,16,1.8,47.4,2.9,7.7,0.3,3,0.1,not fire,1
121,30,09,2012,25,78,14,1.4,45,1.9,7.5,0.2,2.4,0.1,not fire,1
124,02,06,2012,30,73,13,4,55.7,2.7,7.8,0.6,2.9,0.2,not fire,2
125,03,06,2012,29,80,14,2,48.7,2.2,7.6,0.3,2.6,0.1,not fire,2

In [ ]:
df.info()

In [ ]:
df.dtypes

In [ ]:
# df.day.unique()
df['day'].unique()

In [ ]:
# df.month.unique()
df['month'].unique()

In [ ]:
# df.year.unique()
df['year'].unique()

In [ ]:
# df.Temperature.unique()
df['Temperature'].unique()

In [12]:
df.isnull().sum()

day            0
month          0
year           0
Temperature    0
 RH            0
 Ws            0
Rain           0
FFMC           0
DMC            0
DC             0
ISI            0
BUI            0
FWI            0
Classes        0
Region         0
dtype: int64

In [ ]:
df.columns

In [16]:
df.columns=df.columns.str.strip()

In [17]:
df.columns

Index(['day', 'month', 'year', 'Temperature', 'RH', 'Ws', 'Rain', 'FFMC',
       'DMC', 'DC', 'ISI', 'BUI', 'FWI', 'Classes', 'Region'],
      dtype='object')

In [18]:
df[['day', 'month', 'year', 'Temperature', 'RH', 'Ws',"Region"]]=df[['day', 'month', 'year', 'Temperature', 'RH', 'Ws',"Region"]].astype(int)

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 242 entries, 0 to 243
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   day          242 non-null    int32
 1   month        242 non-null    int32
 2   year         242 non-null    int32
 3   Temperature  242 non-null    int32
 4   RH           242 non-null    int32
 5   Ws           242 non-null    int32
 6   Rain         242 non-null    object
 7   FFMC         242 non-null    object
 8   DMC          242 non-null    object
 9   DC           242 non-null    object
 10  ISI          242 non-null    object
 11  BUI          242 non-null    object
 12  FWI          242 non-null    object
 13  Classes      242 non-null    object
 14  Region       242 non-null    int32
dtypes: int32(7), object(8)
memory usage: 23.6+ KB

In [20]:
df[['Rain', 'FFMC','DMC', 'DC', 'ISI', 'BUI', 'FWI']]=df[['Rain', 'FFMC','DMC', 'DC', 'ISI', 'BUI', 'FWI']].astype('float')

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 242 entries, 0 to 243
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   day          242 non-null    int32
 1   month        242 non-null    int32
 2   year         242 non-null    int32
 3   Temperature  242 non-null    int32
 4   RH           242 non-null    int32
 5   Ws           242 non-null    int32
 6   Rain         242 non-null    float64
 7   FFMC         242 non-null    float64
 8   DMC          242 non-null    float64
 9   DC           242 non-null    float64
 10  ISI          242 non-null    float64
 11  BUI          242 non-null    float64
 12  FWI          242 non-null    float64
 13  Classes      242 non-null    object
 14  Region       242 non-null    int32
dtypes: float64(7), int32(7), object(1)
memory usage: 23.6+ KB

In [22]:
# df['Classes']=df['Classes'].str.strp()
df.Classes=df.Classes.str.strip()

In [23]:
df.Classes.unique()

array(['not fire', 'fire'], dtype=object)

In [ ]:
df.drop('year',axis=1,inplace=True)

In [ ]:
df.head(2)

In [ ]:
df.shape

In [ ]:
df.describe()

In [ ]:
df.hist(figsize=(30,20),color='teal',alpha=0.6)

In [ ]:
corr_matrix=df.corr()
plt.figure(figsize=(15,10))
sns.heatmap(corr_matrix,annot=True,cmap="YlGnBu")

In [ ]:
plt.figure(figsize=(10,6))
sns.countplot(x='Classes',data=df)

In [ ]:
plt.figure(figsize=(20,10))
sns.countplot(x='day',hue='Classes',data=df)

In [ ]:
plt.figure(figsize=(10,8))
sns.countplot(x='Classes',hue='month',data=df)

In [ ]:
df['Classes'].value_counts().sort_values(ascending=False)
df['Classes'].value_counts().sort_values(ascending=False).plot(kind='pie',figsize=(10,6), 
title="PIE CHART OF CLASSES", autopct='%1.2f%%')
plt.axis('equal')

In [ ]:
x=df['RH']
y=df['Temperature']
plt.scatter(x,y)
plt.xlabel('RH',fontsize=15)
plt.ylabel("Temperature",fontsize=15)

In [ ]:
x=df['Ws']
y=df['Temperature']
plt.scatter(x,y)
plt.xlabel('Ws',fontsize=15)
plt.ylabel("Temperature",fontsize=15)

In [ ]:
x=df['Rain']
y=df['Temperature']
plt.scatter(x,y)
plt.xlabel('Rain',fontsize=15)
plt.ylabel("Temperature",fontsize=15)

In [ ]:
x=df['FFMC']
y=df['Temperature']
plt.scatter(x,y)
plt.xlabel('FFMC',fontsize=15)
plt.ylabel("Temperature",fontsize=15)

In [ ]:
x=df['DMC']
y=df['Temperature']
plt.scatter(x,y)
plt.xlabel('DMC',fontsize=15)
plt.ylabel("Temperature",fontsize=15)

In [ ]:
x=df['DC']
y=df['Temperature']
plt.scatter(x,y)
plt.xlabel('DC',fontsize=15)
plt.ylabel("Temperature",fontsize=15)

In [ ]:
x=df['ISI']
y=df['Temperature']
plt.scatter(x,y)
plt.xlabel('ISI',fontsize=15)
plt.ylabel("Temperature",fontsize=15)

In [ ]:
x=df['BUI']
y=df['Temperature']
plt.scatter(x,y)
plt.xlabel('BUI',fontsize=15)
plt.ylabel("Temperature",fontsize=15)

In [ ]:
x=df['FWI']
y=df['Temperature']
plt.scatter(x,y)
plt.xlabel('FWI',fontsize=15)
plt.ylabel("Temperature",fontsize=15)

In [ ]:
x=df['Classes']
y=df['Temperature']
plt.scatter(x,y)
plt.xlabel('Classes',fontsize=15)
plt.ylabel("Temperature",fontsize=15)

In [ ]:
sns.boxplot(df["Temperature"])

In [ ]:
df.corr()

In [ ]:
df[~df.day.str.isnumeric()]

In [ ]:
df1 = df.drop(df.index[[122,123]])

In [ ]:
df1.shape

In [ ]:
df1[~df1.day.str.isnumeric()]

In [ ]:
df1.info()

In [ ]:
sns.pairplot(df)