In [3]:
import numpy as np
import matplotlib.pyplot as plt
import statsmodels.api as sms
import pandas as pd

%matplotlib inline

In [6]:
df = pd.read_csv(r'C:\Users\Jalpa\Desktop\EDA\Exploratory-data-analysis\ARIMA_TimeSeries\airline_passengers.csv')

In [7]:
df.head(2)

   Unnamed: 0    Month  Thousands of Passengers
0           0  1949-01                    112.0
1           1  1949-02                    118.0

In [9]:
df.drop(['Unnamed: 0'],axis=1,inplace=True)

In [10]:
df.head()

     Month  Thousands of Passengers
0  1949-01                    112.0
1  1949-02                    118.0
2  1949-03                    132.0
3  1949-04                    129.0
4  1949-05                    121.0